* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Roboto', sans-serif;
    color: #1F2937;
    display: flex;
    flex-direction: column;
}

nav,
header {
    background-color: #1F2937;

}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.nav-links,
a {
    list-style-type: none;
    color: #E5E7EB;
    text-decoration-line: none;
    display: flex;
    gap: 16px;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 16px;
    padding: 24px;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 8px;
}

p {
    font-size: 18px;
    color: #E5E7EB;
    margin: 8px;
}

.btn {
    background-color: #3882F6;
    padding: 8px;
    margin: 8px;
    border: 2px solid white;
    border-radius: 8px;
}

.main-image {
    height: fit-content;
}

.secondary {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.secondary-title {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin: 16px;
}

.secondary-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}

.card img {
    border: 2px solid #3882F6;
    border-radius: 10px;
    height: 100px;
    width: 100px;
}

.card p {
    color: #1F2937;
    text-align: center;
}

.quote {
    text-align: center;
    margin: 16px 0;
    padding: 16px;
    background-color: #E5E7EB;

}

.quote-card p {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
}

.author {
    text-align: end;
}

.cta {
    background-color: #3882F6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 48px 96px;
    padding: 48px;
    border-radius: 10px;
}

.cta-text {
    display: flex;
}

.cta-text h3 {
    color: #F9FAF8;
}

.cta-text p {
    color: #E5E7EB;
}


footer {
    display: flex;
    background-color: #1F2937;
    align-items: center;
    justify-content: center;
}